.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ui.three.cards {
  margin-left: -1em;
  margin-right: -1em;
  margin-top: 1em;
}
